.koben-iconic__dialog select {
  margin-top: 10px;
}
.koben-iconic__dialog .umb-iconpicker-item a {
  color: black;
}

.koben-iconic__container .umb-panel-header-icon {
  border: 1px dashed #bbbabf;
  font-weight: 700;
}
.koben-iconic__container .umb-panel-header-icon:hover {
  color: #2152a3;
  border-color: #2152a3;
}
.koben-iconic__container .umb-panel-header-icon:focus {
  outline-color: #6ab4f0;
}

.umb-iconpicker-item.selected {
  border: 1px dashed #808080;
  background-color: lightyellow;
}

.group-horizontal {
  display: flex;
}
.group-horizontal * {
  margin-right: 1em;
}
