.koben-iconic__dialog .umb-iconpicker-item a {
  color: black; }

.umb-iconpicker-item.selected {
  border: 1px dashed #808080;
  background-color: lightyellow; }

.group-horizontal {
  display: flex; }
  .group-horizontal * {
    margin-right: 1em; }
