.koben-iconic__dialog .umb-iconic-item a {
  color: black; }

.koben-iconic__params {
  width: 40%; }
  .koben-iconic__params .umb-node-preview {
    max-width: 100%;
    margin-bottom: 0;
    margin-top: 10px;
    cursor: pointer; }
  .koben-iconic__params .umb-node-preview-add {
    max-width: 100%;
    margin-top: 15px; }
  .koben-iconic__params_panelbody {
    background-color: #fbfbfb;
    padding: 15px 0 15px 15px; }
  .koben-iconic__params_add-new-form {
    margin-top: 15px;
    padding: 15px;
    background-color: #fbfbfb; }
    .koben-iconic__params_add-new-form input {
      width: 100%; }
  .koben-iconic__params_input_group {
    margin-bottom: 15px; }
  .koben-iconic__params input[name="newCssFiles"] {
    display: inline;
    width: 60%; }

