<div class="koben-iconic__container" ng-controller="Koben.Iconic.Controller">
    <div ng-if="modelIsValid" class="koben-iconic__remove">
        <small><em>{{model.value.icon}}</em></small>        
    </div>
    <div class="umb-panel-header-icon " ng-click="overlay.show = true"
         ng-class="{'-placeholder': model.value===null ||model.value===''}"
         title="{{model.value.style}}">

        <iconic-icon ng-if="modelIsValid" package="pckg" icon="model.value.icon">
        </iconic-icon>
        <umb-load-indicator ng-if="loading"></umb-load-indicator>

    </div>
    <p ng-if="modelIsValid" class="koben-iconic__remove">        
        <small><a href ng-click="removeIcon()" prevent-default><localize key="iconicConfig_remove">Remove</localize></a></small>
    </p>
    <umb-overlay ng-if="overlay.show"
                 model="overlay"
                 view="overlay.view"
                 position="right">
    </umb-overlay>
</div>