@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
<html>
	<head>
		<link href="~/css/simple-line-icons.css" type="text/css" />
	</head>
	<body>
		@Html.Raw(Model.Iconic)
	</body>
</html>
