<section class="koben-iconic__params umb-editor " ng-controller="Koben.Iconic.Prevalues.Packages">
    <div ng-show="iconicError" class="alert alert-error">{{iconicError}}</div>
    <div ui-sortable="sortableOptions" ng-model="model.value">
        <div ng-repeat="item in model.value">
            <div class="umb-node-preview">
                <i class="umb-node-preview__icon icon-navigation handle"></i>
                <div class="umb-node-preview__content" ng-click="selectItem(item)">
                    <div class="umb-node-preview__name">{{item.name}}</div>
                    <div class="umb-node-preview__description">Styles: {{item.extractedStyles.length}}</div>
                </div>
                <div class="umb-node-preview__actions">
                    <a href class="umb-node-preview__action umb-node-preview__action--red" ng-click="removeItem($index)" prevent-default>Remove</a>
                </div>
            </div>
            <div class="koben-iconic__params_panelbody control-group" ng-if="data.selectedItem == item">
                <div ng-show="!data.editPackage">
                    <p><strong>Name: </strong>{{item.name}}</p>
                    <p><strong>Selector: </strong>{{item.selector}}</p>
                    <p><strong>Template: </strong>{{item.template}} </p>
                    <p><strong>Css file: </strong>{{item.cssfile}}</p>
                    <p><strong>Rules source file: </strong>{{item.sourcefile}}</p>
                    <hr />
                    <p><strong>Extracted styles: </strong>{{item.extractedStyles.length}}</p>                                        
                    <umb-button action="data.editPackage = true"
                                type="button"
                                button-style="link"
                                icon="icon-edit"
                                state="data.analysing"
                                label="Edit package">
                </div>
                <ng-form name="editPackageForm" ng-show="data.editPackage">

                    <div ng-show="data.analysing==='error'">
                        There was an error extracting icon rules. Please check the files paths and Selector regex.
                    </div>
                    <div class="koben-iconic__params_input_group">
                        <label for="editName">Name</label><br />
                        <input name="editName" type="text" ng-model="item.name" val-highlight="{{editPackageForm.editName.$error}}" required>
                        <p ng-show="editPackageForm.editName.$error.required && editPackageForm.editName.$dirty">Please enter a name</p>
                    </div>
                    <div class="koben-iconic__params_input_group">
                        <label for="editTemplate">Template</label><br />
                        <input name="editTemplate" type="text" ng-model="item.template" val-highlight="{{editPackageForm.editTemplate.$invalid}}" required />
                        <p ng-show="editPackageForm.editTemplate.$error.required && editPackageForm.editTemplate.$dirty">Please enter a name</p>
                    </div>

                    <div class="koben-iconic__params_input_group">
                        <label for="editCssFile">Css file</label><br />
                        <input name="editCssFile" type="text" ng-model="item.cssfile" ng-text-change="data.analysing = 'init'" val-highlight="{{editPackageForm.editCssFile.$invalid}}" required />
                        <p ng-show="editPackageForm.editCssFile.$error.required && editPackageForm.editCssFile.$dirty">Please select a css file</p>
                    </div>
                    <fieldset>
                        <legend>Icons</legend>
                        <div class="koben-iconic__params_input_group">
                            <label for="editSelector">Selector</label><br />
                            <input name="editSelector" type="text" ng-model="item.selector" val-highlight="{{editPackageForm.editSelector.$invalid}}" required>
                            <p ng-show="editPackageForm.editSelector.$error.required && editPackageForm.editSelector.$dirty">Please enter a selector</p>
                        </div>
                        <div class="koben-iconic__params_input_group">
                            <label for="editSourceFile">Rules source file</label><br />
                            <input name="editSourceFile" type="text" ng-model="item.sourcefile" ng-text-change="data.analysing = 'init'" val-highlight="{{itemFormErrors.cssfile.$invalid}}" required/>
                            <p ng-show="editPackageForm.editSourceFile.$error.required && editPackageForm.editSourceFile.$dirty">Please enter a rules source file</p>
                        </div>
                    </fieldset>
                    <umb-button action="submitEditPackage(item, editPackageForm.$valid)"
                                type="button"
                                button-style="success"
                                label="Save"
                                state="data.analysing"
                                disabled="editPackageForm.$invalid">
                    </umb-button>
                    <umb-button action="data.editPackage = false"
                                type="button"
                                button-style="link"
                                label="Cancel">

                    </umb-button>
                </ng-form>
            </div>
        </div>
    </div>
    <a href class="umb-node-preview-add" ng-click="data.showNewItemForm = true" prevent-default>
        <localize key="general_add">Add</localize>
    </a>
    <div class="koben-iconic__params_add-new-form control-group" ng-if="data.showNewItemForm" ng-form="newPackageForm">
        <div>
            <h3>Add new package</h3>
        </div>
        <div ng-show="data.analysing==='error'">
            There was an error extracting icon rules. Please check the files paths and Selector regex.
        </div>
        <div class="koben-iconic__params_input_group group-horizontal">
            <label><input type="radio" ng-model="data.configType" value="custom" /> Custom</label>
            <label><input type="radio" ng-model="data.configType" value="preconfigured" /> Pre-Configured</label>
        </div>
        <div class="koben-iconic__params_input_group" ng-show="data.configType == 'preconfigured'">
            <select ng-model="data.selectedPreConfig"
                    ng-change="selectPreConfig(data.selectedPreConfig)"
                    ng-options="conf as conf.name for conf in preconfig">
                <option value="">Select a pre-configuration...</option>
            </select>
        </div>
        <div class="koben-iconic__params_input_group">
            <label for="newName">Name</label><br />
            <input name="newName" type="text" ng-model="newItem.name" val-highlight="{{newPackageForm.newName.$invalid && newPackageForm.newName.$dirty}}" required>
            <p ng-show="newPackageForm.newName.$error.required && newPackageForm.newName.$dirty">Please enter a name</p>
        </div>
        <div class="koben-iconic__params_input_group">
            <label for="newTemplate">Template</label><br />
            <input name="newTemplate" type="text" ng-model="newItem.template" val-highlight="{{newPackageForm.newTemplate.$dirty && newPackageForm.newTemplate.$invalid}}" required />
            <p ng-show="newPackageForm.newTemplate.$error.required && newPackageForm.newTemplate.$dirty">Please enter a template</p>
        </div>

        <div class="koben-iconic__params_input_group">
            <label for="newCssFile">Css file</label><br />
            <input name="newCssFile" type="text" ng-model="newItem.cssfile" ng-text-change="data.analysing = 'init'" val-highlight="{{newPackageForm.newCssFile.$invalid && newPackageForm.newCssFile.$dirty}}" required />
            <p ng-show="newPackageForm.newCssFile.$error.required && newPackageForm.newCssFile.$dirty">Please select a css file</p>
        </div>
        <fieldset>
            <legend>Icons</legend>
            <div class="koben-iconic__params_input_group">
                <label for="newSelector">Selector</label><br />
                <input name="newSelector" type="text" ng-model="newItem.selector" val-highlight="{{newPackageForm.newSelector.$invalid && newPackageForm.newSelector.$dirty}}" required>
                <p ng-show="newPackageForm.newSelector.$error.required && newPackageForm.newSelector.$dirty">Please enter a selector</p>
            </div>
            <div class="koben-iconic__params_input_group">
                <label for="newSourceFile">Rules source file</label><br />
                <input name="newSourceFile" type="text" ng-model="newItem.sourcefile" ng-text-change="data.analysing = 'init'" val-highlight="{{newItemFormErrors.cssfile.$invalid && newItemFormErrors.cssfile.$dirty}}" required />
                <p ng-show="newPackageForm.newSourceFile.$error.required && newPackageForm.newSourceFile.$dirty">Please enter a selector</p>
            </div>
        </fieldset>
        <umb-button action="addNewItem(newPackageForm.$valid)"
                    type="button"
                    button-style="success"
                    label="Add package"
                    state="data.analysing"
                    disabled="newPackageForm.$invalid">
            s
        </umb-button>
        <button class="btn umb-button__button btn-warning" ng-click="data.showNewItemForm = false" prevent-default>Cancel</button>
    </div>
</section>