<section class="koben-iconic__params umb-editor " ng-controller="Koben.Iconic.Prevalues.Packages">    
    
    <div ui-sortable="sortableOptions" ng-model="model.value">
        <div ng-repeat="item in model.value">
            <div class="umb-node-preview">
                <i class="umb-node-preview__icon icon-navigation handle"></i>
                <div class="umb-node-preview__content" ng-click="selectItem(item)">
                    <div class="umb-node-preview__name">{{item.name}}</div>
                    <div class="umb-node-preview__description"><localize key="iconicConfig_styles">Styles</localize>: {{item.extractedStyles.length}}</div>
                </div>
                <div class="umb-node-preview__actions">
                    <a href class="umb-node-preview__action umb-node-preview__action--red" ng-click="removeItem($index)" prevent-default><localize key="iconicConfig_remove">Remove</localize></a>
                </div>
            </div>
            <div class="koben-iconic__params_panelbody control-group" ng-if="data.selectedItem == item">
                <div ng-show="!data.editPackage">
                    <p><strong><localize key="iconicConfig_name">Name</localize>: </strong>{{item.name}}</p>
                    <p><strong><localize key="iconicConfig_selector">Selector</localize>: </strong>{{item.selector}}</p>
                    <p><strong><localize key="iconicConfig_template">Frontend Template</localize>: </strong>{{item.template}} </p>
                    <p><strong><localize key="iconicConfig_backofficeTemplate">BackofficeTemplate</localize>: </strong>{{item.backofficeTemplate}} </p>
                    <p><strong><localize key="iconicConfig_cssFile">Css file</localize>: </strong>{{item.cssfile}}</p>
                    <p><strong><localize key="iconicConfig_rulesFile">Rules source file</localize> </strong>{{item.sourcefile}}</p>
                    <hr />
                    <p><strong><localize key="iconicConfig_extractedStyles">Extracted styles</localize> </strong>{{item.extractedStyles.length}}</p>
                    <umb-button action="data.editPackage = true"
                                type="button"
                                button-style="link"
                                icon="icon-edit"
                                state="data.analysing"
                                label-key="iconicConfig_editPackage">
                </div>
                <ng-form name="editPackageForm" ng-show="data.editPackage">
                    <div ng-show="data.iconicError" class="alert alert-error">{{data.iconicError}}</div>
                    <div class="koben-iconic__params_input_group">
                        <label for="editName"><localize key="iconicConfig_name">Name</localize></label><br />
                        <input name="editName" type="text" ng-model="item.name" val-highlight="{{editPackageForm.editName.$error}}" required>
                        <p ng-show="editPackageForm.editName.$error.required && editPackageForm.editName.$dirty"><localize key="iconicValidation_name">Please enter a name</localize></p>
                    </div>
                    <div class="koben-iconic__params_input_group">
                        <label for="editTemplate"><localize key="iconicConfig_template">Template</localize></label><br />
                        <input name="editTemplate" type="text" ng-model="item.template" val-highlight="{{editPackageForm.editTemplate.$invalid}}" required />
                        <p ng-show="editPackageForm.editTemplate.$error.required && editPackageForm.editTemplate.$dirty"><localize key="iconicValidation_name">Please enter a template</localize></p>
                    </div>
                    <div class="koben-iconic__params_input_group">
                        <label for="editBackofficeTemplate"><localize key="iconicConfig_backofficeTemplate">Backoffice Template</localize></label><br />
                        <input name="editBackofficeTemplate" type="text" ng-model="item.backofficeTemplate" val-highlight="{{editPackageForm.editBackofficeTemplate.$invalid}}" required />
                        <p ng-show="editPackageForm.editBackofficeTemplate.$error.required && editPackageForm.editBackofficeTemplate.$dirty"><localize key="iconicValidation_name">Please enter a template for backoffice</localize></p>
                    </div>
                    <div class="koben-iconic__params_input_group">
                        <label for="editCssFile"><localize key="iconicConfig_cssFile">Css file</localize></label><br />
                        <input name="editCssFile" type="text" ng-model="item.cssfile" ng-text-change="data.analysing = 'init'" val-highlight="{{editPackageForm.editCssFile.$invalid}}" required />
                        <p ng-show="editPackageForm.editCssFile.$error.required && editPackageForm.editCssFile.$dirty"><localize key="iconicValidation_css">Please select a css file</localize></p>
                    </div>
                    <fieldset>
                        <legend><localize key="iconicConfig_icons">Icons</localize></legend>
                        <div class="koben-iconic__params_input_group">
                            <label for="editSelector"><localize key="iconicConfig_selector">Selector</localize></label><br />
                            <input name="editSelector" type="text" ng-model="item.selector" val-highlight="{{editPackageForm.editSelector.$invalid}}" required>
                            <p ng-show="editPackageForm.editSelector.$error.required && editPackageForm.editSelector.$dirty"><localize key="iconicValidation_selector">Please enter a selector</localize></p>
                        </div>
                        <div class="koben-iconic__params_input_group">
                            <label for="editSourceFile"><localize key="iconicConfig_rulesFile">Rules source file</localize></label><br />
                            <input name="editSourceFile" type="text" ng-model="item.sourcefile" ng-text-change="data.analysing = 'init'" val-highlight="{{itemFormErrors.cssfile.$invalid}}" required />
                            <p ng-show="editPackageForm.editSourceFile.$error.required && editPackageForm.editSourceFile.$dirty"><localize key="iconicValidation_rules">Please enter a rules source file</localize></p>
                        </div>
                    </fieldset>
                    <umb-button action="submitEditPackage(item, editPackageForm.$valid)"
                                type="button"
                                button-style="success"
                                label-key="iconicConfig_save"
                                state="data.analysing"
                                disabled="editPackageForm.$invalid">
                    </umb-button>
                    <umb-button action="data.editPackage = false"
                                type="button"
                                button-style="link"
                                label-key="iconicConfig_cancel">

                    </umb-button>
                </ng-form>
            </div>
        </div>
    </div>
    <a href class="umb-node-preview-add" ng-click="data.showNewItemForm = true" prevent-default>
        <localize key="general_add">Add</localize>
    </a>
    <div class="koben-iconic__params_add-new-form control-group" ng-if="data.showNewItemForm" ng-form="newPackageForm">
        <div>
            <h3><localize key="iconicConfig_addNewPackage">Add new package</localize></h3>
        </div>
        <div ng-show="data.iconicError" class="alert alert-error">{{data.iconicError}}</div>
        <div class="koben-iconic__params_input_group group-horizontal">
            <label><input type="radio" ng-model="data.configType" value="custom" /> <localize key="iconicConfig_custom">Custom</localize></label>
            <label><input type="radio" ng-model="data.configType" value="preconfigured" /> <localize key="iconicConfig_preconf">Pre-Configured</localize></label>
        </div>
        <div class="koben-iconic__params_input_group" ng-show="data.configType == 'preconfigured'">
            <select ng-model="data.selectedPreConfig"
                    ng-change="selectPreConfig(data.selectedPreConfig)"
                    ng-options="conf as conf.name for conf in preconfig">
                <option value=""><localize key="iconicConfig_select_preconf">Select a pre-configuration...</localize></option>
            </select>
        </div>
        <div class="koben-iconic__params_input_group">
            <label for="newName"><localize key="iconicConfig_name">Name</localize></label><br />
            <input name="newName" type="text" ng-model="newItem.name" val-highlight="{{newPackageForm.newName.$invalid && newPackageForm.newName.$dirty}}" required>
            <p ng-show="newPackageForm.newName.$error.required && newPackageForm.newName.$dirty"><localize key="iconicValidation_name">Please enter a name</localize></p>
        </div>
        <div class="koben-iconic__params_input_group">
            <label for="newTemplate"><localize key="iconicConfig_template">Template</localize></label><br />
            <input name="newTemplate" type="text" ng-model="newItem.template" val-highlight="{{newPackageForm.newTemplate.$dirty && newPackageForm.newTemplate.$invalid}}" required />
            <p ng-show="newPackageForm.newTemplate.$error.required && newPackageForm.newTemplate.$dirty"><localize key="iconicValidation_template">Please enter a template</localize></p>
        </div>
        <div class="koben-iconic__params_input_group">
            <label for="newBackofficeTemplate"><localize key="iconicConfig_backofficeTemplate">Backoffice Template</localize></label><br />
            <input name="newBackofficeTemplate" type="text" ng-model="newItem.backofficeTemplate" val-highlight="{{newPackageForm.newBackofficeTemplate.$dirty && newPackageForm.newBackofficeTemplate.$invalid}}" required />
            <p ng-show="newPackageForm.newBackofficeTemplate.$error.required && newPackageForm.newBackofficeTemplate.$dirty"><localize key="iconicValidation_backofficeTemplate">Please enter a template for backoffice</localize></p>
        </div>
        <div class="koben-iconic__params_input_group">
            <label for="newCssFile"><localize key="iconicConfig_cssFile">Css file</localize></label><br />
            <input name="newCssFile" type="text" ng-model="newItem.cssfile" ng-text-change="data.analysing = 'init'" val-highlight="{{newPackageForm.newCssFile.$invalid && newPackageForm.newCssFile.$dirty}}" required />
            <p ng-show="newPackageForm.newCssFile.$error.required && newPackageForm.newCssFile.$dirty"><localize key="iconicValidation_css">Please select a css file</localize></p>
        </div>
        <fieldset>
            <legend>Icons</legend>
            <div class="koben-iconic__params_input_group">
                <label for="newSelector"><localize key="iconicConfig_selector">Selector</localize></label><br />
                <input name="newSelector" type="text" ng-model="newItem.selector" val-highlight="{{newPackageForm.newSelector.$invalid && newPackageForm.newSelector.$dirty}}" required>
                <p ng-show="newPackageForm.newSelector.$error.required && newPackageForm.newSelector.$dirty"><localize key="iconicValidation_selector">Please enter a selector</localize></p>
            </div>
            <div class="koben-iconic__params_input_group">
                <label for="newSourceFile"><localize key="iconicConfig_rulesFile">Rules source file</localize></label><br />
                <input name="newSourceFile" type="text" ng-model="newItem.sourcefile" ng-text-change="data.analysing = 'init'" val-highlight="{{newItemFormErrors.cssfile.$invalid && newItemFormErrors.cssfile.$dirty}}" required />
                <p ng-show="newPackageForm.newSourceFile.$error.required && newPackageForm.newSourceFile.$dirty"><localize key="iconicValidation_rules">Please enter a rules source file</localize></p>
            </div>
        </fieldset>
        <umb-button action="addNewItem(newPackageForm.$valid)"
                    type="button"
                    button-style="success"
                    label="Add package"
                    state="data.analysing"
                    disabled="newPackageForm.$invalid">
        </umb-button>
        <button class="btn umb-button__button btn-warning" ng-click="data.showNewItemForm = false" prevent-default>Cancel</button>
    </div>
</section>